"*":
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    invisibles:
      eol: false
    softWrap: true
  welcome:
    showOnStartup: false
".console.python.text":
  editor:
    autoIndent: true
".python.regexp.source":
  editor:
    tabLength: 2
".python.source":
  editor:
    tabLength: 2
".source.rust":
  editor:
    tabLength: 2
