"*":
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    invisibles:
      eol: false
    softWrap: true
  "exception-reporting":
    userId: "0831cbe2-dbad-4d14-b8da-c8e382d618eb"
  welcome:
    showOnStartup: false
